Repository yungyuc/nsdhw_25sp, pull requests merged in 2025-03, with the labels that each got.

#7 Dragonwu0919 hw1 attempt1
  hw1/dragonwu0919/countline.py
  hw1/dragonwu0919/countline.sh
Labels: hw1

#10 Johnny19436 hw0 attempt1
  hw0/johnny19436/countline.py
Labels: hw0

#11 Grace0950 hw0 attempt1
  hw0/grace0950/countline.py
Labels: hw0

#12 brian9139 hw1 submission
  hw1/brian9139/countline.py
  hw1/brian9139/countline.sh
Labels: hw1

#14 Tommy-Hsu HW1
  hw1/Tommy-Hsu/countline.py
  hw1/Tommy-Hsu/countline.sh
Labels: hw1

#19 hw1 submit by Seco1024
  hw1/Seco1024/countline.py
  hw1/Seco1024/countline.sh
Labels: hw1

#20 ckt77 hw1 attempt1
  hw1/ckt77/countline.py
  hw1/ckt77/countline.sh
Labels: hw1

#15 quan0715-hw1
  hw1/quan0715/countline.py
  hw1/quan0715/countline.sh
Labels: hw1

#24 grace0950 hw1 attempt1
  hw1/grace0950/countline.py
  hw1/grace0950/countline.sh
Labels: hw1

#29 Mingchunhsu046-hw1
  hw1/mingchunhsu046/countline.py
  hw1/mingchunhsu046/countline.sh
Labels: hw1

#25 hw1 submit by didwhddks
  hw1/didwhddks/countline.py
  hw1/didwhddks/countline.sh
Labels: hw1

#23 johnny19436 proposal risma
  project/README.rst
  project/johnny19436/README.rst
Labels: project

#21 Seco1024 proposal for ZenANN
  project/README.rst
  project/Seco1024/README.rst
Labels: project

#13 5000user5000 proposal for mpGEMM
  project/5000user5000/README.rst
  project/5000user5000/img/lut.png
  project/README.rst
Labels: project

#30 didwhddks proposal for PyLCA
  project/README.rst
  project/didwhddks/README.rst
Labels: project

#35 ckt77-hw2-attempt3
  hw2/ckt77/q1/Makefile
  hw2/ckt77/q1/line.cpp
  hw2/ckt77/q1/line.hpp
  hw2/ckt77/q1/main.cpp
  hw2/ckt77/q2/Makefile
  hw2/ckt77/q2/test_vectormath.py
  hw2/ckt77/q2/vectormath.cpp
Labels: hw2

#33 johnny19436 hw2 submission
  hw2/johnny19436/q1/Makefile
  hw2/johnny19436/q1/sol.cpp
  hw2/johnny19436/q2/Makefile
  hw2/johnny19436/q2/_vector.cpp
  hw2/johnny19436/q2/test_vector.py
Labels: hw2

#36 dragonwu0919 hw2
  hw2/dragonwu0919/q1/Makefile
  hw2/dragonwu0919/q1/line.cpp
  hw2/dragonwu0919/q1/line.hpp
  hw2/dragonwu0919/q1/main.cpp
  hw2/dragonwu0919/q2/Makefile
  hw2/dragonwu0919/q2/angle.cpp
  hw2/dragonwu0919/q2/test_angle.py
Labels: hw2

#31 Dragonwu0919 proposal for C-STAM
  project/README.rst
  project/dragonwu0919/README.rst
Labels: project

#28 Brian9139 proposal NoC
  project/README.rst
  project/brian9139/README.md
Labels: project

#40 Brian9139 hw2 attempt2
  hw2/brian9139/q1/Makefile
  hw2/brian9139/q1/main.cpp
  hw2/brian9139/q2/Makefile
  hw2/brian9139/q2/bindings.cpp
  hw2/brian9139/q2/test_vector.py
  hw2/brian9139/q2/vector_angle.cpp
  hw2/brian9139/q2/vector_angle.h
Labels: hw2

#43 didwhddks-hw2-attempt2
  hw2/didwhddks/q1/Makefile
  hw2/didwhddks/q1/line.hpp
  hw2/didwhddks/q1/main.cpp
  hw2/didwhddks/q2/Makefile
  hw2/didwhddks/q2/bindings.cpp
  hw2/didwhddks/q2/calc_angle.hpp
  hw2/didwhddks/q2/unit_test.py
Labels: hw2

#41 Grace0950 proposal for HyperTS
  project/README.rst
  project/grace0950/README.rst
Labels: project

#42 Seco1024 hw2 attempt1
  hw2/Seco1024/q1/Makefile
  hw2/Seco1024/q1/line.cpp
  hw2/Seco1024/q1/line.hpp
  hw2/Seco1024/q1/main.cpp
  hw2/Seco1024/q2/Makefile
  hw2/Seco1024/q2/_vector.cpp
  hw2/Seco1024/q2/test_vector.py
Labels: hw2

#39 quan0715-hw2
  hw2/quan0715/q1/Makefile
  hw2/quan0715/q1/line.cpp
  hw2/quan0715/q1/line.hpp
  hw2/quan0715/q1/main.cpp
  hw2/quan0715/q2/Makefile
  hw2/quan0715/q2/test_vector.py
  hw2/quan0715/q2/vector.cpp
  hw2/quan0715/validate.sh
Labels: hw2

#45 Grace0950 hw2 attempt2
  hw2/grace0950/q1/Makefile
  hw2/grace0950/q1/line.cpp
  hw2/grace0950/q1/line.hpp
  hw2/grace0950/q1/main.cpp
  hw2/grace0950/q2/Makefile
  hw2/grace0950/q2/binding.cpp
  hw2/grace0950/q2/test_vector.py
  hw2/grace0950/q2/vector.cpp
  hw2/grace0950/q2/vector.hpp
Labels: hw2

#26 ckt77 proposal CFLib
  project/README.rst
  project/ckt77/README.rst
Labels: project

#38 quan0715-proposal-submission
  project/README.rst
  project/quan0715/README.rst
Labels: project

#27 xuryp-proposal-submission
  project/README.rst
  project/xuryp/README.rst
Labels: project

#46 Add hw3 submission
  hw3/brian9139/Makefile
  hw3/brian9139/_matrix.py
  hw3/brian9139/matrix.cpp
  hw3/brian9139/performance.txt
  hw3/brian9139/test_matrix.py
Labels: hw3

#47 HW3 submission
  hw3/5000user5000/Makefile
  hw3/5000user5000/matrix.cpp
  hw3/5000user5000/performance.txt
  hw3/5000user5000/test_matrix.py
Labels: hw3

#48 Seco1024 hw3 attempt1
  hw3/Seco1024/Makefile
  hw3/Seco1024/_matrix.cpp
  hw3/Seco1024/benchmark.py
  hw3/Seco1024/performance.txt
  hw3/Seco1024/test_matrix.py
Labels: hw3

#49 ckt77 hw3 submission
  hw3/ckt77/Makefile
  hw3/ckt77/benchmark.py
  hw3/ckt77/matrix.cpp
  hw3/ckt77/matrix.hpp
  hw3/ckt77/matrix_mod.cpp
  hw3/ckt77/matrix_mul.cpp
  hw3/ckt77/performance.txt
  hw3/ckt77/test_matrix.py
Labels: hw3

#50 didwhddks-hw3-attempt1
  hw3/didwhddks/Makefile
  hw3/didwhddks/matrix.cpp
  hw3/didwhddks/performance.txt
  hw3/didwhddks/test_matrix.py
  hw3/didwhddks/test_performance.py
Labels: hw3

#51 Grace0950 hw3 attempt1
  hw3/grace0950/Makefile
  hw3/grace0950/matrix.cpp
  hw3/grace0950/performance.txt
  hw3/grace0950/test_matrix.py
Labels: hw3

#52 johnny19436 finish hw3
  hw3/johnny19436/Makefile
  hw3/johnny19436/_matrix.cpp
  hw3/johnny19436/performance.txt
  hw3/johnny19436/test_matrix.py
Labels: hw3
